/**** POLICES *****/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); ;



:root{
    --font-subtitle:'Neucha', cursive;
    --font-text:'Neucha', cursive;
    --font-stat:'Nanum Pen Script', cursive;
    --font-title:'Nanum Pen Script', cursive;
}
/**** COULEURS *****/

:root{
    --primary-color:#AB8DF7;
    --secondary-color: #34203f;
    --other-color : #9287ae;
    --title-color:#AB8DF7;
    --text-color : #FFF;
    --text-secondary-color :#121212;
    --background-color:#121212;
    --background-secondary-color: #2E2E2E;
}
   

/***** TAILLE POLICE *****/
:root{
    --nav-size:1.5rem;
}
/**** PARAM GENERAUX *****/
body{
    margin:0;
    padding:0;
    font-family:var(--font-text);
    color: var(--text-color);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

button{
    border-radius : 5px; 
    background-color:var(--primary-color);
    box-shadow: none;
    border:none;
    padding:10px;
    font-family: var(--font-text);
    color:var(--text-secondary-color);
}
button:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
button:disabled{
    background-color: var(--other-color);
}
button:disabled:hover{ 
    background-color: var(--other-color);
    color:var(--text-secondary-color);
}

h1{
    font-family: var(--font-subtitle);
    font-size:2.5rem;
    letter-spacing: 2px;
}